In [1]:
import numpy as np 
import pandas as pd

In [2]:
ds= pd.read_csv('/kaggle/input/bank-churn/Churn_Modelling.csv')

In [3]:
ds

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
ds.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [5]:
train = ds.iloc[:8000, :]
test = ds.iloc[8000:, :]
y_train = train['Exited']
X_train = train.drop(columns=['Exited'])
y_test = test['Exited']
X_test = test.drop(columns=['Exited'])

In [6]:
X_train

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,7996,15803479,Winter-Irving,708,France,Female,67,1,0.00,2,0,1,3837.08
7996,7997,15709639,Wilson,717,France,Female,22,5,112465.06,1,1,1,92977.75
7997,7998,15601719,Fiorentino,465,Germany,Male,24,6,156007.09,1,1,0,191368.37
7998,7999,15772482,Iloerika,829,Germany,Male,28,3,132405.52,3,1,0,104889.20
7999,8000,15591489,Davison,826,France,Male,26,5,142662.68,1,0,0,60285.30

In [7]:
y_train

0       1
1       0
2       1
3       0
4       0
       ..
7995    0
7996    0
7997    0
7998    1
7999    0
Name: Exited, Length: 8000, dtype: int64

In [8]:
X_test

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
8000,8001,15629002,Hamilton,747,Germany,Male,36,8,102603.30,2,1,1,180693.61
8001,8002,15798053,Nnachetam,707,Spain,Male,32,9,0.00,2,1,0,126475.79
8002,8003,15753895,Blue,590,Spain,Male,37,1,0.00,2,0,0,133535.99
8003,8004,15595426,Madukwe,603,Spain,Male,57,6,105000.85,2,1,1,87412.24
8004,8005,15645815,Mills,615,France,Male,45,5,0.00,2,1,1,164886.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [9]:
y_test

8000    0
8001    0
8002    0
8003    1
8004    0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 2000, dtype: int64

In [10]:
def Drop_columns(x):
    x = x.drop(columns=['RowNumber', 'CustomerId', 'Surname'])
    return x

In [11]:
X_train = Drop_columns(X_train)
X_test = Drop_columns(X_test)

In [12]:
X_train

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
7995,708,France,Female,67,1,0.00,2,0,1,3837.08
7996,717,France,Female,22,5,112465.06,1,1,1,92977.75
7997,465,Germany,Male,24,6,156007.09,1,1,0,191368.37
7998,829,Germany,Male,28,3,132405.52,3,1,0,104889.20
7999,826,France,Male,26,5,142662.68,1,0,0,60285.30

In [13]:
def Scale_All(x):
    # Scale CreditScore
    min_c = x['CreditScore'].min()
    max_c = x['CreditScore'].max()
    x['CreditScore'] = (x['CreditScore'] - min_c) / (max_c - min_c)

    # Scale Age
    min_age = x['Age'].min()
    max_age = x['Age'].max()
    x['Age'] = (x['Age'] - min_age) / (max_age - min_age)

    # Scale Tenure
    min_t = x['Tenure'].min()
    max_t = x['Tenure'].max()
    x['Tenure'] = (x['Tenure'] - min_t) / (max_t - min_t)

    # Scale Balance
    min_b = x['Balance'].min()
    max_b = x['Balance'].max()
    x['Balance'] = (x['Balance'] - min_b) / (max_b - min_b)

    # Scale EstimatedSalary
    min_es = x['EstimatedSalary'].min()
    max_es = x['EstimatedSalary'].max()
    x['EstimatedSalary'] = (x['EstimatedSalary'] - min_es) / (max_es - min_es)

    # Scale NumOfProducts
    min_es = x['NumOfProducts'].min()
    max_es = x['NumOfProducts'].max()
    x['NumOfProducts'] = (x['NumOfProducts'] - min_es) / (max_es - min_es)

    return x

In [14]:
X_train = Scale_All(X_train)
X_test = Scale_All(X_test)

In [15]:
X_train

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,0.538,France,Female,0.324324,0.2,0.000000,0.000000,1,1,0.506735
1,0.516,Spain,Female,0.310811,0.1,0.334031,0.000000,0,1,0.562709
2,0.304,France,Female,0.324324,0.8,0.636357,0.666667,1,0,0.569654
3,0.698,France,Female,0.283784,0.1,0.000000,0.333333,0,0,0.469120
4,1.000,Spain,Female,0.337838,0.2,0.500246,0.000000,1,1,0.395400
...,...,...,...,...,...,...,...,...,...,...
7995,0.716,France,Female,0.662162,0.1,0.000000,0.333333,0,1,0.019129
7996,0.734,France,Female,0.054054,0.5,0.448250,0.000000,1,1,0.464875
7997,0.230,Germany,Male,0.081081,0.6,0.621795,0.000000,1,0,0.956875
7998,0.958,Germany,Male,0.135135,0.3,0.527726,0.666667,1,0,0.524438
7999,0.952,France,Male,0.108108,0.5,0.568608,0.000000,0,0,0.301397

In [16]:
def change_data_type(x):
    x['HasCrCard'] = x['HasCrCard'].astype(float)
    x['IsActiveMember'] = x['IsActiveMember'].astype(float)
    return x

In [17]:
X_train = change_data_type(X_train)
X_test = change_data_type(X_test)

In [18]:
X_train

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,0.538,France,Female,0.324324,0.2,0.000000,0.000000,1.0,1.0,0.506735
1,0.516,Spain,Female,0.310811,0.1,0.334031,0.000000,0.0,1.0,0.562709
2,0.304,France,Female,0.324324,0.8,0.636357,0.666667,1.0,0.0,0.569654
3,0.698,France,Female,0.283784,0.1,0.000000,0.333333,0.0,0.0,0.469120
4,1.000,Spain,Female,0.337838,0.2,0.500246,0.000000,1.0,1.0,0.395400
...,...,...,...,...,...,...,...,...,...,...
7995,0.716,France,Female,0.662162,0.1,0.000000,0.333333,0.0,1.0,0.019129
7996,0.734,France,Female,0.054054,0.5,0.448250,0.000000,1.0,1.0,0.464875
7997,0.230,Germany,Male,0.081081,0.6,0.621795,0.000000,1.0,0.0,0.956875
7998,0.958,Germany,Male,0.135135,0.3,0.527726,0.666667,1.0,0.0,0.524438
7999,0.952,France,Male,0.108108,0.5,0.568608,0.000000,0.0,0.0,0.301397

In [19]:
def One_Hot(x):
    x = pd.get_dummies(x, columns=['Geography', 'Gender'], drop_first=False, dtype='float')
    return x

In [20]:
X_train = One_Hot(X_train)
X_test = One_Hot(X_test)

In [21]:
X_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,0.538,0.324324,0.2,0.000000,0.000000,1.0,1.0,0.506735,1.0,0.0,0.0,1.0,0.0
1,0.516,0.310811,0.1,0.334031,0.000000,0.0,1.0,0.562709,0.0,0.0,1.0,1.0,0.0
2,0.304,0.324324,0.8,0.636357,0.666667,1.0,0.0,0.569654,1.0,0.0,0.0,1.0,0.0
3,0.698,0.283784,0.1,0.000000,0.333333,0.0,0.0,0.469120,1.0,0.0,0.0,1.0,0.0
4,1.000,0.337838,0.2,0.500246,0.000000,1.0,1.0,0.395400,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,0.716,0.662162,0.1,0.000000,0.333333,0.0,1.0,0.019129,1.0,0.0,0.0,1.0,0.0
7996,0.734,0.054054,0.5,0.448250,0.000000,1.0,1.0,0.464875,1.0,0.0,0.0,1.0,0.0
7997,0.230,0.081081,0.6,0.621795,0.000000,1.0,0.0,0.956875,0.0,1.0,0.0,0.0,1.0
7998,0.958,0.135135,0.3,0.527726,0.666667,1.0,0.0,0.524438,0.0,1.0,0.0,0.0,1.0
7999,0.952,0.108108,0.5,0.568608,0.000000,0.0,0.0,0.301397,1.0,0.0,0.0,0.0,1.0

In [22]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

In [23]:
rf=RandomForestClassifier(random_state=42)

In [33]:
param_grid = {
    'n_estimators': [50],           # Number of trees
    'max_depth': [None, 10],           # Maximum depth of the trees
    'bootstrap': [True, False],                # Whether to use bootstrapping
    'criterion': ['gini', 'entropy']          # Split criterion
}

In [34]:
clf=GridSearchCV(estimator=rf, param_grid=param_grid,cv=4,n_jobs=-1,verbose=2,             # Show progress
                           scoring='accuracy')

In [35]:
clf.fit(X_train,y_train)

Fitting 4 folds for each of 8 candidates, totalling 32 fits

GridSearchCV(cv=4, estimator=RandomForestClassifier(random_state=42), n_jobs=-1,
             param_grid={'bootstrap': [True, False],
                         'criterion': ['gini', 'entropy'],
                         'max_depth': [None, 10], 'n_estimators': [50]},
             scoring='accuracy', verbose=2)

In [37]:
dir(clf)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_feature_names',
 '_check_n_features',
 '_check_refit_for_multimetric',
 '_estimator_type',
 '_format_results',
 '_get_param_names',
 '_get_tags',
 '_more_tags',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_required_parameters',
 '_run_search',
 '_select_best_index',
 '_validate_data',
 '_validate_params',
 'best_estimator_',
 'best_index_',
 'best_params_',
 'best_score_',
 'classes_',
 'cv',
 'cv_results_',
 'decision_function',
 'error_score',
 'estimator',
 'feature_names_in_',
 'fit',
 'get_params',
 'inverse_transform',
 'multimetric_',
 'n_features_in_',
 'n_jobs',
 'n_splits_',
 'param_grid',
 'pre_dispatch',
 'predict',
 'predict_log_proba',
 'predict_proba',
 'refit',
 'refit_time_',
 'return_train_score',
 'score',
 'score_samples',
 'scorer_',
 'scoring',
 'set_params',
 'transform',
 'verbose']

In [39]:
print("Best Parameters:", clf.best_params_)
print("Best Estimator:", clf.best_estimator_)

Best Parameters: {'bootstrap': True, 'criterion': 'entropy', 'max_depth': 10, 'n_estimators': 50}
Best Estimator: RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=50,
                       random_state=42)

In [40]:
best_rf_model = clf.best_estimator_
y_pred = best_rf_model.predict(X_test)

In [41]:
from sklearn.metrics import accuracy_score

In [42]:
print("Test Accuracy:", accuracy_score(y_test, y_pred))

Test Accuracy: 0.847

# Nearly 85% accuracy